---
openshift_client_binary: "oc"
openshift_config_base: "/etc/origin"
openshift_node_name: "{{ ansible_fqdn }}"

# @source https://github.com/openshift/openshift-ansible/blob/release-3.10/roles/openshift_storage_glusterfs/tasks/glusterfs_registry_facts.yml
openshift_storage_glusterfs_namespace: 'glusterfs'
openshift_storage_glusterfs_name: 'storage'
openshift_storage_glusterfs_registry_namespace: 'default'
openshift_storage_glusterfs_registry_name: 'registry'
openshift_storage_glusterfs_health_timeout: 1200

# custom
openshift_oc_tools_host: "{{ groups['masters'][0] }}"
