---
# for master nodes wait for the master API port to be ready
- block:
  - name: OCP | Wait for Node Ready | Determine master API port
    set_fact:
      openshift_master_api_port: 443
    when: openshift_master_api_port is not defined

  - name: OCP | Wait for Node Ready | Wait for master API to come back online
    wait_for:
      state: started
      delay: 10
      port: "{{ openshift_master_api_port }}"
      timeout: 600
  when: inventory_hostname in groups['masters']

# @source https://github.com/openshift/openshift-ansible/blob/release-3.10/playbooks/openshift-node/private/restart.yml#L35-L54
- name: OCP | Wait for Node Ready | Wait for node to be ready
  oc_obj:
    state: list
    kind: node
    name: "{{ ansible_fqdn | lower }}"
  register: node_output
  delegate_to: "{{ openshift_oc_tools_host }}"
  until:
  - node_output.results is defined
  - node_output.results.returncode is defined
  - node_output.results.returncode == 0
  - node_output.results.results is defined
  - node_output.results.results | length > 0
  - node_output.results.results[0].status is defined
  - node_output.results.results[0].status.conditions is defined
  - node_output.results.results[0].status.conditions | selectattr('type', 'match', '^Ready$') | map(attribute='status') | join | bool == True
  # Give the node three minutes to come back online.
  retries: 36
  delay: 5
  
# ensure gluster is ready
- include_role:
    name: openshift_storage_glusterfs_cluster_health
